include MANIFEST.in
include README.md
include LICENSE
include license.txt
include readme.txt
include tox.ini
include pyproject.toml
include meson.build
include meson_options.txt

recursive-include doc *
prune doc/_build
recursive-include demo *

recursive-include CGNS *.h *.pyx *.pxd *.pxi *.py *.txt *.in *.pyi
recursive-include CGNS *.c
recursive-include CGNS *.cgns
recursive-include CGNS *.gif
recursive-include CGNS *.hdf
recursive-include CGNS *.png
recursive-include CGNS *.qrc
recursive-include CGNS *.ui
recursive-include CGNS *.supp
recursive-include CGNS Makefile
recursive-include CGNS meson.build
recursive-include CGNS meson_options.txt

recursive-include lib *.py *.txt *.ico *.bmp *.xcf *.iss *.tmp
recursive-include windows *.h

recursive-include _build_utils *.py *.txt

include .pylintrc
include CGNS/NAV/R/icons/ACKNOWLEDGEMENT

recursive-exclude CGNS/NAV *.c
recursive-exclude CGNS/VAL *.c
exclude CGNS/APP/lib/arrayutils.c
exclude CGNS/MAP/CHLone_config.h
exclude CGNS/MAP/EmbeddedCHLone.c
exclude CGNS/MAP/EmbeddedCHLone.pyx
recursive-exclude lib *.pyc

exclude ci .github
recursive-exclude ci *
recursive-exclude .github *
exclude *.yml
exclude .vscode
recursive-exclude .vscode *
